@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/*--- GENERAL START ---*/

* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

nav {
    grid-area: nav;
}

header{
    grid-area: header;
    height: 50vh;
}

footer {
    grid-area: footer;
    background-color: aquamarine;
}


main {
    grid-area: main;
    background-color: bisque;
}

aside {
    grid-area: aside;
    background-color: blue;
}

/*--- GENERAL END---*/


/*--- HEADER START ---*/

header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*--- HEADER END ---*/


/*--- NAV START---*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: burlywood;
    color: white;
  }

nav ul {
    list-style: none;
    margin: 0;
    gap: 20px;
  }

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: .25s ease-in-out;
    position: relative;
  }

  nav ul li a::after{
    content: '';
    width: 100%;
    height: 0;
    background: #000000bb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: ease-in 0.1s;
}

nav ul li a:hover::after{
    height: 3px;
}


.logo{
    font-size: 40px;
    padding-left: 10px;
}


.nav-links {
    display: flex;
    justify-content: center;
  }

.burger-menu {
    justify-content: flex-end;
    font-size: 40px;
    padding-right: 20px;
}

.login {
    background-color: bisque;
}

.login form input, .login form button {
    display: block;
    margin: 2px auto;
}

/*--- NAV END---*/