@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/*--- GENERAL START ---*/

* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  color: black;
}

html {
  max-width: 1700px;
  margin: auto;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

main {
  background-color: #f6efe8;
  grid-area: main;
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 50px;
}

/*--- GENERAL END---*/

/*--- HEADER START ---*/
header {
  background-image: url(assets/123.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: header;
  /* height: 550px; */
}

/*--- NAV START---*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(68, 43, 26);
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  gap: 20px;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: white;
  transition: 0.15s ease-in-out;
  position: relative;
  animation: fadeIn 2s forwards;
}

nav ul li a:hover {
  color: burlywood;
}

nav ul li a::after {
  content: "";
  width: 100%;
  height: 0;
  background: burlywood;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: ease-in 0.1s;
}

nav ul li a:hover::after {
  height: 3px;
}

nav i {
  color: white;
  padding-top: 10px;
  transition: 0.15s ease-in-out;
  padding-right: 10px;
}

nav i:hover {
  color: burlywood;
  cursor: pointer;
}

.logo {
  font-size: 40px;
  padding-left: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.burger-menu {
  display: none;
  position: relative;
  font-size: 40px;
  padding-right: 20px;
  cursor: pointer;
}

/*--- NAV END---*/

/*--- SEARCHBAR END ---*/
.search-bar {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 130px;
  text-align: center;
  width: 350px;
  margin: 2vh auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.703);
  padding: 50px;
  box-shadow: 0 4px 8px black;
}

.search-bar button {
  text-decoration: none;
  border: none;
  color: rgb(68, 43, 26);
  width: 100px;
  padding: 5px 0px;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.25s ease-in-out;
}

.search-bar button:hover {
  background-color: burlywood;
  width: 120px;
  font-weight: bold;
}

.search-bar .startbuttons {
  gap: 10px;
}

.search-box label {
  color: white;
  padding-bottom: 10px;
}

.search-box {
  display: none;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-box input {
  width: 250px;
  border-radius: 8px;
  border: 2px solid rgb(189, 131, 84);
  background-color: rgb(248, 241, 234);
  color: rgb(68, 43, 26);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  padding: 8px;
  float: left;
  padding-left: 15px;
}

.add-book input,
.add-book select {
  width: 250px;
  border-radius: 8px;
  border: 2px solid rgb(189, 131, 84);
  background-color: rgb(248, 241, 234);
  color: rgb(68, 43, 26);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  padding: 8px;
  float: left;
  padding-left: 15px;
}

.add-book label {
  color: white;
  margin: 5px;
}

/* form button{
  margin-top: 15px;
} */

/*--- SEARCHBAR END ---*/

/*--- HEADER END ---*/

/*--- MAIN START---*/
.main-title {
  display: flex;
  margin-left: 15px;
}

main h3 {
  color: rgb(68, 43, 26);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  text-align: start;
  border-bottom: 2px solid black;
  padding: 0px;
  margin: 0;
  width: max-content;
}

main i {
  font-size: 2rem;
  border: 2px solid;
  margin-right: 10px;
  padding: 5px;
}

main p,
main h4 {
  color: black;
}

main p {
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.wrapper i {
  color: black;
  font-size: 40px;
  min-width: fit-content;
}

.card {
  text-align: center;
  transition: transform 0.25s ease-in-out;
  margin-bottom: 40px;
  margin-top: 20px;
  transition: 0.5s;
}

main .card {
  background-color: white;
  color: rgb(68, 43, 26);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main .card p {
  color: rgb(68, 43, 26);
}

.wrapper .card {
  width: 18rem;
}

main .btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgb(117, 84, 62) !important;
  border-color: rgb(97, 76, 59) !important;
  width: 50%;
  color: rgb(255, 255, 255);
}

main .btn-primary:hover {
  background-color: rgb(92, 69, 51) !important;
  border-color: rgb(95, 74, 56) !important;
}

main .card:hover {
  transform: scale(1.03);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card h5 {
  font-weight: bold;
}

/*--- MAIN END ---*/

/*--- FOOTER START---*/

footer {
  grid-area: footer;
  background-color: rgb(68, 43, 26);
  display: flex;
  justify-content: space-around;
  bottom: 0;
  height: 250px;
  align-items: center;
}

footer a {
  font-size: 1.3rem;
}

.footer-left {
  float: left;
}

.footer-middle img {
  width: 150px;
  margin: auto;
}

.footer-right {
  float: right;
}

.footer-right li {
  list-style: none;
  display: flex;
  font-size: 1.3rem;
}
.footer-right a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.footer-right a:hover {
  color: burlywood;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 5px;
}

.contact-info i,
.contact-info {
  color: white;
  font-size: 1.5rem;
}

.contact-info i {
  padding-right: 10px;
}

.social-media {
  display: flex;
}

.social-media i {
  color: white;
  font-size: 2rem;
}

.twitter i {
  color: #26a7de;
}

.twitter i:hover {
  animation: spin 1s;
}

.facebook i {
  color: #3b5998;
}

.facebook i:hover {
  animation: reverse-spin 1s;
}

.instagram i {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.instagram i:hover {
  animation: spin 1s;
}

/*--- FOOTER END---*/

/*--- ANIMATIONS START ---*/
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*--- ANIMATIONS END ---*/

/*--- MEDIA QUERIES---*/

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .login-container {
    padding-left: 20%;
    padding-right: 20%;
  }

  aside .btn-danger,
  .btn-danger:focus,
  .btn-danger:active {
    width: 70%;
  }

  aside .btn-danger:hover {
    width: 70%;
  }

  main .card {
    margin: 0;
  }

  .wrapper {
    gap: 1;
    margin: 0;
    margin-top: 20px;
  }

  footer a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }

  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
    padding-right: 10px;
  }

  .asidenews .card {
    padding-top: 50px;
  }

  .search-bar {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.703) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .search-bar h1 {
    font-size: 2.5rem;
  }

  .login-container {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
  }

  aside .btn-danger,
  .btn-danger:focus,
  .btn-danger:active {
    width: 80%;
  }

  aside .btn-danger:hover {
    width: 80%;
  }

  main .main-title {
    justify-content: center;
    padding: 50px;
    margin: 0;
  }

  .wrapper {
    gap: 1;
    margin: 0;
    margin-top: 20px;
  }

  main .card {
    margin: 0;
  }

  .carousel img {
    height: 350px;
  }

  .footer-middle {
    display: none;
  }
}

/*-------------------------BOOKS-------------------------------*/

.bookList {
}

.bookList span {
}

.bookList h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0px 5px 0px;
}

.bookList p {
  margin-bottom: 10px;
  padding: 0;
}

.bookList span {
  background-color: rgb(157, 138, 115);
  border-radius: 5px;
  text-align: left;
  font-size: 0.8rem;
  margin: 5px;
  padding: 5px;
  height: 100px;
}

.bookList ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.bookList li {
  text-align: center;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: rgb(185, 164, 137);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.bookList img {
  width: 300px;
  height: 400px;
  padding: 10px;
}

.search-suggestion {
  padding: 5px;
  color: white;
}

#results {
  color: white;
}

@media screen and (max-width: 500px) {
  .bookList ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
